@model MusicApp.Models.Artist

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="centerAlignment">
            @if (Html.DisplayFor(model => model.picture).ToString().Length > 0)
            {
                <img class="imgTitle" src="data:image/png;base64,@Html.DisplayFor(model => model.picture)" />
            }
        </div>
        <div class="headerTitle colorB active">
            <div class="actionBtnTitlePos">
                <a title="Back to List" href="@Url.Action("Index")" class="actionBtnTitle glyphicon glyphicon-arrow-left"></a>
@if (this.User.IsInRole("Admin"))
{
                <a title="Edit Artist" href="@Url.Action("Edit", new { id = Model.Id })" class="actionBtnTitle glyphicon glyphicon-pencil"></a>
}
            </div>
            @Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 MultipleColumns">
        <label>@Html.DisplayNameFor(model => model.biography)</label>
        @Html.DisplayFor(model => model.biography)
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <label>@Html.DisplayNameFor(model => model.Discography)</label>
        <ul>
            @foreach (var album in Model.Discography)
            {
                <li>
                    <a href="@Url.Action("Details", "Albums", new { id=album.Id })">@album.AlbumName</a>
                </li>
            }
        </ul>
    </div>
</div>