@model MusicApp.Models.Album

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="centerAlignment">
            @if (Html.DisplayFor(model => model.coverPhoto).ToString().Length > 0)
            {
                <img class="imgTitle" src="data:image/png;base64,@Html.DisplayFor(model => model.coverPhoto)" />
            }
        </div>
        <div class="headerTitle colorC active">
            <div class="actionBtnTitlePos">
                <a title="Back to List" href="@Url.Action("Index")" class="actionBtnTitle glyphicon glyphicon-arrow-left"></a>
                <a title="Edit Artist" href="@Url.Action("Edit", new { id = Model.Id })" class="actionBtnTitle glyphicon glyphicon-pencil"></a>
            </div>
            @Html.DisplayFor(model => model.AlbumName)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 MultipleColumns">
        <label>Artist</label>
        <a href="@Url.Action("Details", "Artists", new { id = Model.artistId })">@Html.DisplayFor(model => model.artist.firstName) @Html.DisplayFor(model => model.artist.lastName)</a>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <label>@Html.DisplayNameFor(model => model.songs)</label>
        <ul>
            @foreach (var song in Model.songs)
            {
                <li>
                    <a href="@Url.Action("Details", "Songs", new { id= song.Id})">@song.songName</a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1" style="text-align: center;">
        <canvas id="canvas" width=600 height=600></canvas>
    </div>
</div>

<!-- Sciprts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://rawgit.com/caleb531/jcanvas/master/jcanvas.min.js"></script>

<script type="text/javascript">

    var canvas = $("#canvas");

    var pictures = [];

    @foreach (var song in ViewBag.Songs)
    {
        @:pictures.push("@song.picture");
    }

    var imagesCount = '@ViewBag.Songs.Count';
    imagesCount = parseInt(imagesCount);
    var currImage = 0;

    imageAnimationFunc();

    function imageAnimationFunc() {
        if (currImage >= imagesCount) currImage = 0;

        canvas.drawImage({
            layer: true,
            name: "image" + currImage,
            source: "data:image/png;base64," + pictures[currImage],
            x: 0,
            y: 200,
            height: 200,
            width: 200,
            fromCenter: false
        });
        canvas.animateLayer("image" + currImage, {
            x: 600,
            y: 200
        }, 5000, function () {
            canvas.removeLayer("image" + currImage).drawLayers();
            currImage++;
            imageAnimationFunc();
        });

    }
</script>