@model MusicApp.Models.Album

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="centerAlignment">
            @if (Html.DisplayFor(model => model.coverPhoto).ToString().Length > 0)
            {
                <img class="imgTitle" src="data:image/png;base64,@Html.DisplayFor(model => model.coverPhoto)" />
            }
        </div>
        <div class="headerTitle colorC active">
            <div class="actionBtnTitlePos">
                <a title="Back to List" href="@Url.Action("Index")" class="actionBtnTitle glyphicon glyphicon-arrow-left"></a>
                <a title="Edit Artist" href="@Url.Action("Edit", new { id = Model.Id })" class="actionBtnTitle glyphicon glyphicon-pencil"></a>
            </div>
            @Html.DisplayFor(model => model.AlbumName)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 MultipleColumns">
        <label>Artist</label>
        <a href="@Url.Action("Details", "Artists", new { id = Model.artistId })">@Html.DisplayFor(model => model.artist.firstName) @Html.DisplayFor(model => model.artist.lastName)</a>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <label>@Html.DisplayNameFor(model => model.songs)</label>
        <ul>
            @foreach (var song in Model.songs)
            {
                <li>
                    <a href="@Url.Action("Details", "Songs", new { id= song.Id})">@song.songName</a>
                </li>
            }
        </ul>
    </div>
</div>