@model IEnumerable<MusicApp.Models.Song>

@{
    ViewBag.Title = "Songs";
}

<h2>Index</h2>

<p>
    @if (this.User.IsInRole("Admin"))
    { 
        @Html.ActionLink("Create New", "Create")
    }
</p>
@foreach (var item in Model)
{
    <div class="row listInfo" onclick="location.href='@Url.Action("Details", new { id = item.Id })';">
        <div class="col-md-2">
            @if (Html.DisplayFor(modelItem => item.picture).ToString().Length > 0)
                {
                <img class="listImg" src="data:image/png;base64,@Html.DisplayFor(modelItem => item.picture)" />
            }
        </div>
        <div class="col-md-10">
            <div class="ListActionBtnPos">
                @if (this.User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="ListActionBtn glyphicon glyphicon-pencil"></a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="ListActionBtn glyphicon glyphicon-remove"></a>
                }
                
                <a href="@Url.Action("Details", new { id = item.Id })" class="ListActionBtn glyphicon glyphicon-info-sign"></a>
                
            </div>
            <h3 class="ListTitle">@Html.DisplayFor(modelItem => item.songName)</h3>
            <span>
                <a href='@Url.Action("Details", "Artists", new { id = item.artistId })'>@Html.DisplayFor(modelItem => item.artist.firstName) @Html.DisplayFor(modelItem => item.artist.lastName)</a> <br/>
                <a href='@Url.Action("Details", "Albums", new { id = item.albumId })'>@Html.DisplayFor(modelItem => item.album.AlbumName)</a><br />
                <label> Published on </label> @Html.DisplayFor(modelItem => item.publishDate)<br />
                <label> Genre </label> @Html.DisplayFor(modelItem => item.genre)<br />
            </span>
        </div>
    </div>
}

