@model IEnumerable<MusicApp.Models.Song>

@{
    ViewBag.Title = "Songs";
}
<h2 class="titleD">@ViewBag.Title</h2>

<p>
    @if (this.User.IsInRole("Admin"))
    { 
        @Html.ActionLink("Create New", "Create")
    }
</p>

<div class="row">
    <div class="col-md-12">
        <aside style="{font-size: large;}">
            Already have a song stuck in your head? let us help you find it! 
            @if ((@ViewBag.Filters[0] == "") && (@ViewBag.Filters[1] == "") && (@ViewBag.Filters[2] == ""))
            {
                <p>Choose the filters you want to see</p>
            }
            else
            {
                <p>Showing songs
                    @if (@ViewBag.Filters[0] != "")
                    {
                        <span> of the artist: @ViewBag.Filters[0]</span>
                    }
                    @if (@ViewBag.Filters[1] != "")
                    {
                        <span> from the album: @ViewBag.Filters[1]</span>
                    }
                    @if (@ViewBag.Filters[2] != "")
                    {
                        <span> from the genre: @ViewBag.Filters[2]</span>
                    }
                    <button class="btn btn-primary glyphicon glyphicon-trash" onclick="location.href='@Url.Action("resetFilters")';"></button>
</p>

            }

            <div class="searchArea row">
                <div class="col-md-3">
                    <label> Artist</label>
                </div>
                <div class="col-md-3">
                    <label> Album</label>
                </div>
                <div class="col-md-3">
                    <label> Genre</label>
                </div>
            </div>
            <div class="searchArea row">
                <div class="col-md-3">
                    @foreach (var artist in @ViewBag.Artists)
                    {
                        <a href='@Url.Action("setFilter", new { value = artist.Id, pos = 0 })'>@artist.firstName @artist.lastName (@artist.Id)</a><br />
                    }
                </div>
                <div class="col-md-3">
                    @foreach (var album in @ViewBag.Albums)
                    {
                        <a href='@Url.Action("setFilter", new { value = album.Id, pos = 1 })'>@album.AlbumName (@album.Id)</a><br />
                    }
                </div>
                <div class="col-md-3">
                    @foreach (var genre in @ViewBag.Genres)
                    {
                        <a href='@Url.Action("setFilter", new { value = genre, pos = 2 })'>@genre</a><br />
                    }
                </div>
            </div>
        </aside>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row listInfo" onclick="location.href='@Url.Action("Details", new { id = item.Id })';">
        <div class="col-md-2">
            @if (Html.DisplayFor(modelItem => item.picture).ToString().Length > 0)
                {
                <img class="listImg" src="data:image/png;base64,@Html.DisplayFor(modelItem => item.picture)" />
            }
        </div>
        <div class="col-md-10">
            <div class="ListActionBtnPos">
                @if (this.User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="ListActionBtn glyphicon glyphicon-pencil"></a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="ListActionBtn glyphicon glyphicon-remove"></a>
                }
                
                <a href="@Url.Action("Details", new { id = item.Id })" class="ListActionBtn glyphicon glyphicon-info-sign"></a>
                
            </div>
            <h3 class="ListTitle">@Html.DisplayFor(modelItem => item.songName)</h3>
            <span>
                <a href='@Url.Action("Details", "Artists", new { id = item.artistId })'>@Html.DisplayFor(modelItem => item.artist.firstName) @Html.DisplayFor(modelItem => item.artist.lastName)</a> <br/>
                <a href='@Url.Action("Details", "Albums", new { id = item.albumId })'>@Html.DisplayFor(modelItem => item.album.AlbumName)</a><br />
                <label> Published on </label> @Html.DisplayFor(modelItem => item.publishDate)<br />
                <label> Genre </label> @Html.DisplayFor(modelItem => item.genre)<br />
            </span>
        </div>
    </div>
}

